@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.uiGradient--one {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.uiGradient--two{
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HeroPicture {
  border-radius: 13% 87% 8% 92% / 88% 9% 91% 12%;

  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: auto;
  backdrop-filter: blur(10px);
  object-fit: cover;
}

.HeroBgPicture {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  /* filter: grayscale(35%); */
}

.nav {
  height: 8vh;
  background-color: rgb(209 213 219);
  display: flex;
  min-height: 4rem;
}

.nav > div {
  margin: auto;
}

.allFlowers--contentWrapper {
  display: flex;
  height: 92vh;
  position: relative;
}

.sidebar {
  background-color: rgb(229 231 235);
  overflow-y: auto;
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 20rem;
  /* display: none; */
}

.content {
  background-color: rgb(243 244 246);
  overflow-y: auto;
}

@media (min-width: 900px) {
  .sidebar {
    position: static;
    flex: 1;
    background-color: rgb(229 231 235);
    overflow-y: auto;
  }

  .content {
    flex: 5;
    background-color: rgb(243 244 246);
    overflow-y: auto;
  }
}
